<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>AngularJS Mobile Web App Starter Kit</title>

	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- android -->
	<meta name="mobile-web-app-capable" content="yes">
	<!-- iOS app meta tags: -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="MWA">

	<link rel="stylesheet" href="css/screen.css">
</head>
<body ng-app="mwa" ng-cloak>

	<mwa-title-bar></mwa-title-bar>
	
	<div ui-view class="scroll-container page-zoom animated"></div>

	<mwa-tab-bar></mwa-tab-bar>
	
	<script src="js/vendor.js"></script>
	<script src="js/app.min.js"></script>
</body>
</html>