.animated {
	transform: translateZ(0);
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slideIn {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes slideOut {
	to {
		transform: translateX(-100%);
	}
}

@keyframes zoomIn {
	from {
		opacity: 0;
		transform: scale(0.8);
	}
}

@keyframes zoomOut {
	to {
		opacity: 0;
		transform: scale(1.2);
	}
}