.tab-bar-container {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: $footer-height;
	background-color: silver;
}

.tab {
	&.active {
		color: red;
	}
	
	.tab-title {

	}
}